*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

.inline-link {
  text-decoration: underline;
  color: #242c38;
  font-weight: 900;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Sans Serif", Arial;
}

.header {
  /* background-color: #242c38; */
  color: white;
  padding: 1em 1.5em;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu,
.submenu {
  list-style: none;
}
.disktop-menu {
  display: none;
}
.logo {
  padding: 0;
}

.kofa {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 900;
  color: #242c38;
  text-decoration: none;
  text-transform: lowercase;
}

.item {
  padding: 5px 0 0 0;
}

/*mobile Menu  style */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1em;
}

.mobile-menu {
  padding: 1em;
  background-color: transparent;
  color: #242c38;
  font-size: 0.875rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.mobile-menu:hover {
  color: #242c38;
  opacity: 1;
}

.disktop-menu a:hover,
.disktop-menu a:focus {
  color: #242c38;
}
li.active-link {
  color: #242c38;
  font-weight: 900;
  opacity: 1;
}

/* Center website */

main,
.footer-content {
  max-width: 1200px;
  margin: auto;
}

/*Portfolio */

.image-container img {
  width: 100%;
  display: inline-block;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #242c38;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 15px;
}

.image-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Project details styles */
.project-detail {
  background-color: #242c38;
  border-radius: 15px !important;
}
img {
  max-width: 100%;
  height: auto;
}
.anti-tobacco {
  background-color: #e0a927;
  padding: 4rem 2em;
}
.au-img,
.bm-img {
  max-width: 70%;
  height: auto;
}
.project-detail-content {
  padding: 6rem 2em;
  background-color: #efefef;
  border-radius: 15px 15px 0 0;
}
.title,
.project-description {
  max-width: 500px;
  margin: auto;
  color: #242c38;
  margin-bottom: 1rem;
}
.project-description {
  font-size: 1rem;
  line-height: 1.5;
}
.project-requirement {
  padding-left: 1rem;
  max-width: 500px;
  margin: auto;
}
.project-detail-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
}
/* Directory to section */
.directory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #242c38;
  padding: 0 2em;
  opacity: 0.7;
}

/* About me */
.about-section {
  padding: 5em 2em;
  background-color: #efefef;
  border-radius: 15px;
}
.about-me-content img {
  border: #242c38 solid 2px;
  border-radius: 5px;
}
.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 100%;
  margin: auto;
}

.about-me-header-content {
  width: 100%;
}

.software-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  max-width: 100%;
}
.software {
  padding: 0.5rem;
  background-color: #dadada;
  color: #242c38;
}
.about-me-content img {
  width: 200px;
  height: auto;
}
.my-title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #242c38;
  margin-bottom: 1rem;
}
.lead {
  font-weight: 500;
}
.my-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #242c38;
  margin: 1rem 0;
}

/* accordion */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-top: #242c38 solid 1px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.btn {
  display: inline-block;
  background-color: #242c38;
  border: #242c38 solid 2px;
  color: #fff;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-decoration: none;
  margin: 1em 0;
  cursor: pointer;
}
.btn:hover {
  border: #242c38 solid 2px;
  color: #242c38;
  background-color: transparent;
  opacity: 0.8;
}
/*footer */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2em 0;
  font-size: small;
  opacity: 0.7;
  gap: 1em;
}
.footer-content a {
  color: #242c38;
  opacity: 0.7;
  text-decoration: none;
}
.footer-content a:hover {
  color: #242c38;
  opacity: 1;
}
.socials {
  display: flex;
  gap: 1em;
  font-size: medium;
}
/*Media Query / Responsiveness */
@media (min-width: 533px) {
  .intro {
    padding: 5em 2em;
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-container {
    margin: 0;
  }
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

/*====MENU===*/
@media (min-width: 700px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  .image-icons {
    width: 35%;
  }
  .kofa {
    color: #242c38;
  }
  .header {
    background-color: #fff;
    color: #242c38;
  }

  .mobile-menu {
    display: none;
  }
  .disktop-menu {
    display: flex;
    color: #242c38 !important;
    opacity: 0.4;
    font-size: 0.775rem;
    font-weight: 800;
    text-transform: uppercase;
    list-style: none;
    padding: 0 0 0 2em;
    letter-spacing: 0.1em;
  }
  .disktop-menu:hover {
    color: #000;
    opacity: 1;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  .image-container {
    margin-bottom: 0;
  }
  h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #242c38;
  }

  h2 {
    font-size: 2rem;
  }

  /*About me */
  .about-section .container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .img-container,
  .text-content {
    width: 45%;
  }

  .item a:hover {
    background: none;
  }

  .about-section .container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 2rem 2em 2em;
  }
}
@media (min-width: 900px) {
  .intro {
    padding: 7em 2em;
    text-align: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
  }
  .image-container {
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #242c38;
  }

  h2 {
    font-size: 2rem;
  }

  .img-container,
  .text-content {
    width: 45%;
  }
  .img-container {
    margin-right: 2em;
  }
  .about-content {
    font-size: 1.125rem;
  }
  .directory {
    padding: 0;
  }
  .about-me-content img {
    width: 100%;
    height: auto;
    border: #242c38 solid 2px;
    border-radius: 5px;
  }
  .about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    max-width: 60%;
    margin: auto;
  }

  .about-me-header-content {
    width: 65%;
  }
}
